<div class="nav-bar ui-g">
  <div class="ui-g-8">
    <span>Remote Care Management</span>
  </div>
  <div class="ui-g-4 ui-inputgroup">
    <button pButton type="button" icon="fa-search" class="ui-button-secondary"></button>
    <input type="text" pInputText placeholder="Patients Search">
  </div>
</div>
<div class="ui-g">
  <div class="side-bar ui-g-2">
    <div class="side-bar-top">
      <ul>
        <li>
          <i class="fa fa-window-restore" aria-hidden="true"></i>
          <span>Workboard</span>
        </li>
        <li>
          <i class="fa fa-users" aria-hidden="true"></i>
          <span>Patients</span>
        </li>
        <li>
          <i class="fa fa-comments" aria-hidden="true"></i>
          <span>Messages</span>
        </li>
        <li>
          <i class="fa fa-bar-chart" aria-hidden="true"></i>
          <span>Reports</span>
        </li>
      </ul>
      <div class="logo">
        LOGO
      </div>
    </div>
    <div class="side-bar-bottom">
      <ul>
        <li>
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          <span>Profile</span>
        </li>
        <li>
          <i class="fa fa-cog" aria-hidden="true"></i>
          <span>Settings</span>
        </li>
        <li>
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          <span>Logout</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="container ui-g-10">
    <app-workboard></app-workboard>
  </div>
</div>
