<div class="tab">
  <div class="ui-inputgroup">
    <button pButton class="tab-button-left" type="button" icon="fa-th-list"></button>
    <button pButton class="tab-button-right" type="button" icon="fa-th-large"></button>
  </div>
</div>
<div class="board">
  <div class="ui-g">
    <div class="ui-g-4">
      <span class="title">Attention</span>
      <div class="text-box">
        <div class="red-bar"></div>
        <p>Lastname, Firstname</p>
        <span>Dx: condition name</span><br />
        <span>Female</span>
        <span>46y.o</span><br />
        <i class="fa fa-exclamation-triangle"></i><span class="icon-number">2</span>
        <i class="fa fa-list-alt"></i><span class="icon-number">5</span>
        <i class="fa fa-commenting"></i><span class="icon-number">2</span>
      </div>
      <div class="text-box">
        <div class="red-bar"></div>
        <p>Lastname, Firstname</p>
        <span>Dx: condition name</span><br />
        <span>Female</span>
        <span>46y.o</span><br />
        <i class="fa fa-exclamation-triangle"></i><span class="icon-number">2</span>
        <i class="fa fa-list-alt"></i><span class="icon-number">5</span>
        <i class="fa fa-commenting"></i><span class="icon-number">2</span>
      </div>
      <div class="text-box">
        <div class="red-bar"></div>
        <p>Lastname, Firstname</p>
        <span>Dx: condition name</span><br />
        <span>Female</span>
        <span>46y.o</span><br />
        <i class="fa fa-exclamation-triangle"></i><span class="icon-number">2</span>
        <i class="fa fa-list-alt"></i><span class="icon-number">5</span>
        <i class="fa fa-commenting"></i><span class="icon-number">2</span>
      </div>
    </div>
    <div class="ui-g-4">
      <span class="title">Watch</span>
      <div class="text-box">
        <div class="yellow-bar"></div>
        <p>Lastname, Firstname</p>
        <span>Dx: condition name</span><br />
        <span>Female</span>
        <span>46y.o</span><br />
        <i class="fa fa-exclamation-triangle"></i><span class="icon-number">2</span>
        <i class="fa fa-list-alt"></i><span class="icon-number">5</span>
        <i class="fa fa-commenting"></i><span class="icon-number">2</span>
      </div>
      <div class="text-box">
        <div class="yellow-bar"></div>
        <p>Lastname, Firstname</p>
        <span>Dx: condition name</span><br />
        <span>Female</span>
        <span>46y.o</span><br />
        <i class="fa fa-exclamation-triangle"></i><span class="icon-number">2</span>
        <i class="fa fa-list-alt"></i><span class="icon-number">5</span>
        <i class="fa fa-commenting"></i><span class="icon-number">2</span>
      </div>
    </div>
    <div class="ui-g-4">
      <span class="title">Today's List</span>
      <div class="today-list">
        <span class="list-tip">
          Drag Patient Cards to this column to prioritize your worklist for today
        </span>
      </div>
    </div>
  </div>
</div>
